<template>
    <div class="actions">
        <Checkbox :id="'toggle-all'" :label="'Check all'" :checked="remaining === 0" @change="allDone" />

        <button class="link" @click="$emit('removeCompleted')" v-show="todos.length > remaining">
            Clear completed
        </button>
    </div>
</template>

<script>
import Checkbox from './Checkbox.vue';

export default {
    name: 'Actions',
    components: {
        Checkbox
    },
    props: {
        todos: Array,
        remaining: Number
    },
    methods: {
        allDone(value) {
            this.todos.forEach(todo => (todo.completed = value));
        }
    }
};
</script>

<style scoped lang="scss">
.actions {
    display: flex;
    min-height: 50px;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    color: #bfbfbf;
    padding: 0 16px 0 0;
    border-bottom: 1px solid #ededed;
    box-shadow: inset 0 -2px 1px rgba(0, 0, 0, 0.03);
}
</style>
