<template>
    <div class="checkbox">
        <input type="checkbox" :id="id" :value="value" :checked="checked" @change="$emit('change', $event.target.checked)" />
        <label :for="id" @dblclick="$emit('dblclick')">{{ label }}</label>
    </div>
</template>

<script>
export default {
    name: 'Checkbox',
    props: {
        id: String,
        label: String,
        checked: Boolean,
        value: String
    }
};
</script>

<style scoped lang="scss">
.checkbox {
    $self: &;
    position: relative;
    font-size: inherit;

    label {
        padding: 16px 16px 16px 56px;
        word-break: break-all;
        display: block;
        line-height: 1.2;
        transition: color 0.4s;
        user-select: none;

        &[for] {
            cursor: pointer;
        }
    }

    input[type='checkbox'] {
        text-align: center;
        width: 40px;
        height: 40px;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto 0;
        border: none;
        background: none;
        opacity: 0;
        -webkit-appearance: none;
        appearance: none;

        &:not([disabled]) {
            cursor: pointer;
        }

        & + label {
            background-image: url(data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-10%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22none%22%20stroke%3D%22%23ededed%22%20stroke-width%3D%223%22/%3E%3C/svg%3E);
            background-repeat: no-repeat;
            background-position: center left;
        }

        &:checked + label {
            background-image: url(data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-10%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22none%22%20stroke%3D%22%23bddad5%22%20stroke-width%3D%223%22/%3E%3Cpath%20fill%3D%22%235dc2af%22%20d%3D%22M72%2025L42%2071%2027%2056l-4%204%2020%2020%2034-52z%22/%3E%3C/svg%3E);
        }
    }
}
</style>
