<template>
    <div class="filters">
        <span class="todo-count">
            <strong>{{ remaining }}</strong>
            {{ remaining | pluralize }} left
        </span>
        <ul class="filters__list">
            <li v-for="filter in filters" :key="filter">
                <button type="button" :class="{ selected: visibility == filter }" @click="$emit('changed', filter)">{{ filter }}</button>
            </li>
        </ul>
    </div>
</template>

<script>
export default {
    name: 'Filters',
    props: {
        remaining: Number,
        visibility: String
    },
    data() {
        return {
            filters: ['all', 'active', 'completed']
        };
    },
    filters: {
        pluralize(n) {
            return n === 1 ? 'item' : 'items';
        }
    },
    methods: {
        handleFilter(value) {
            this.visibility = value;
        }
    }
};
</script>

<style scoped lang="scss">
.filters {
    position: relative;
    z-index: 1;
    display: flex;
    min-height: 50px;
    flex-wrap: nowrap;
    align-items: center;
    padding: 0 16px;

    &__list {
        list-style: none;
        padding: 0;
        margin: 0;
        margin-left: auto;

        li {
            display: inline-block;
        }
    }

    button {
        margin: 4px 0 4px 8px;
        text-transform: capitalize;
    }
}
</style>
