<template>
    <div class="todo-input">
        <input
            class="todo-input__control"
            autofocus
            autocomplete="off"
            placeholder="What is your goal for today?"
            v-model="newTodo"
            @keyup.enter="add"
        />

        <button v-if="newTodo.trim()" class="todo-input__button" type="button" @click="add">
            Add todo
            <span>or hit Enter</span>
        </button>
    </div>
</template>

<script>
export default {
    name: 'TodoInput',
    data() {
        return {
            newTodo: ''
        };
    },
    methods: {
        clearInput() {
            this.newTodo = '';
        },
        add() {
            this.$emit('add', this.newTodo.trim());
            this.clearInput();
        }
    }
};
</script>

<style scoped lang="scss">
.todo-input {
    $self: &;
    display: inline-flex;
    position: relative;
    width: 100%;
    max-width: 600px;

    &__control {
        position: relative;
        margin: 0;
        width: 100%;
        font-size: 24px;
        font-family: inherit;
        font-weight: inherit;
        line-height: 1.4em;
        color: inherit;
        padding: 12px 144px 12px 16px;
        border: 1px solid transparent;
        background: white;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);

        &::-webkit-input-placeholder,
        &::-moz-placeholder,
        &::placeholder {
            font-weight: 300;
            color: #e6e6e6;
        }

        &:focus {
            border: 1px solid #89d2f5;
        }
    }

    &__button {
        position: absolute;
        top: 10px;
        right: 12px;
        width: 120px;

        span {
            display: block;
            font-size: 11px;
            opacity: 0.6;
        }
    }
}
</style>
