<template>
    <ul class="todo-list">
        <Todo v-for="todo in todos" :key="todo.id" :todo="todo" :editedTodo="editedTodo" v-on="$listeners" />
    </ul>
</template>

<script>
import Todo from './Todo.vue';

export default {
    name: 'TodoList',
    components: {
        Todo
    },
    props: {
        todos: Array,
        editedTodo: Object
    }
};
</script>

<style scoped lang="scss">
.todo-list {
    position: relative;
    padding: 0;
    margin: 0;
    list-style: none;
}
</style>
