<template>
    <li
        v-if="todo"
        class="todo"
        :class="{
            completed: todo.completed,
            editing: todo == editedTodo
        }"
    >
        <div class="todo-view">
            <Checkbox :label="todo.title" :checked="todo.completed" @change="todo.completed = $event" @dblclick="$emit('edit', todo)" />

            <button class="destroy" @click="$emit('remove', todo)"></button>
        </div>

        <input
            class="todo-edit"
            type="text"
            v-model="todo.title"
            v-todo-focus="todo == editedTodo"
            @blur="$emit('doneEdit', todo)"
            @keyup.enter="$emit('doneEdit', todo)"
            @keyup.esc="$emit('cancelEdit', todo)"
        />
    </li>
</template>

<script>
import Checkbox from './Checkbox.vue';

export default {
    name: 'Todo',
    components: {
        Checkbox
    },
    props: {
        todo: Object,
        editedTodo: Object
    },
    directives: {
        'todo-focus': (el, binding) => {
            if (binding.value) {
                el.focus();
            }
        }
    }
};
</script>

<style scoped lang="scss">
.todo {
    $self: &;
    position: relative;
    border-bottom: 1px solid #ededed;
    font-size: 24px;

    &-edit {
        display: none;
        width: calc(100% - 48px);
        padding: 13px 12px;
        margin: -1px 0 -1px 48px;
        font-size: 24px;
        line-height: 1.4em;
        border: 1px solid #89d2f5;
        box-shadow: inset 0 -1px 5px 0 rgba(0, 0, 0, 0.1);
        -webkit-font-smoothing: antialiased;
    }

    &-view {
        display: flex;
        align-items: center;
        padding-right: 8px;
    }

    &.editing {
        #{$self} {
            &-edit {
                display: block;
            }

            &-view {
                display: none;
            }
        }
    }

    &.completed {
        #{$self}-view {
            /deep/ label {
                color: #d9d9d9;
                text-decoration: line-through;
            }
        }
    }

    .destroy {
        margin-left: auto;
        width: 40px;
        height: 40px;
        line-height: 34px;
        font-size: 26px;
        border: none;
        color: #af5b5e;
        opacity: 0.1;

        &:after {
            content: '×';
        }
    }

    &:hover {
        .destroy {
            opacity: 1;
        }
    }
}
</style>
