<template>
    <div id="app">
        <header class="header">
            <img alt="Vue logo" src="./assets/logo.png" />

            <h1 class="header__title">Put awesome goals, rocket your productivity.</h1>

            <div class="header__control">
                <TodoInput @add="addTodo" />
            </div>
        </header>

        <section class="main" role="main">
            <Actions :todos="todos" :remaining="remaining" @removeCompleted="removeCompleted" />

            <TodoList
                :todos="filteredTodos"
                :editedTodo="editedTodo"
                @edit="editTodo"
                @remove="removeTodo"
                @cancelEdit="cancelEditTodo"
                @doneEdit="doneEditTodo"
            />

            <Filters :remaining="remaining" :visibility="visibility" @changed="handleFilter" />
        </section>

        <footer class="footer">
            <p>Written by Vadim Hariton</p>
        </footer>
    </div>
</template>

<script>
import TodoInput from './components/TodoInput.vue';
import TodoList from './components/TodoList.vue';
import Filters from './components/Filters.vue';
import Actions from './components/Actions.vue';
import TodoStorage from './services/storage.service';

const filters = {
    all: todos => todos,
    active: todos => todos.filter(todo => !todo.completed),
    completed: todos => todos.filter(todo => todo.completed)
};

export default {
    name: 'App',
    components: {
        TodoInput,
        TodoList,
        Filters,
        Actions
    },
    data() {
        return {
            todos: TodoStorage.fetch(),
            editedTodo: null,
            visibility: window.location.hash.replace(/#\/?/, '') || 'all'
        };
    },

    watch: {
        todos: {
            handler(todos) {
                TodoStorage.save(todos);
            },
            deep: true
        }
    },

    computed: {
        filteredTodos() {
            return filters[this.visibility](this.todos);
        },
        remaining() {
            return filters.active(this.todos).length;
        }
    },

    methods: {
        addTodo(value) {
            if (!value) {
                return;
            }

            this.todos.push({
                id: TodoStorage.uid++,
                title: value,
                completed: false
            });
        },

        removeTodo(todo) {
            this.todos.splice(this.todos.indexOf(todo), 1);
        },

        editTodo(todo) {
            this.beforeEditCache = todo.title;
            this.editedTodo = todo;
        },

        doneEditTodo(todo) {
            if (!this.editedTodo) {
                return;
            }

            this.editedTodo = null;
            todo.title = todo.title.trim();

            if (!todo.title) {
                todo.title = this.beforeEditCache;
            }
        },

        cancelEditTodo(todo) {
            this.editedTodo = null;
            todo.title = this.beforeEditCache;
        },

        removeCompleted() {
            this.todos = filters.active(this.todos);
        },

        handleFilter(filter) {
            console.log('filter: ', filter);
            if (filters[filter]) {
                this.visibility = filter;
            }
        }
    }
};
</script>

<style lang="scss">
html,
body {
    margin: 0;
    padding: 0;
}

*,
*:after,
*:before {
    box-sizing: border-box;
}

:focus {
    outline: 0;
}

body {
    padding: 0;
    margin: 0;
    font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 1.4em;
    color: #4d4d4d;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

button,
.button {
    display: inline-block;
    margin: 0;
    padding: 4px 7px;
    border: 1px solid rgba(175, 47, 47, 0.2);
    border-radius: 3px;
    color: #777;
    background: white;
    font-size: 100%;
    vertical-align: baseline;
    font-family: inherit;
    font-weight: inherit;
    -webkit-appearance: none;
    appearance: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    cursor: default;
    transition: all 0.25s;

    &:hover {
        color: #008fd3;
    }

    &:hover,
    &.selected,
    &.active {
        border-color: #008fd3;
    }

    &:not([disabled]) {
        cursor: pointer;
    }

    &.link {
        padding: 0;
        border: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

.header {
    padding-top: 64px;
    text-align: center;
    background-color: #f5f5f5;
    margin-bottom: 64px;

    &__title {
        font-size: 24px;
        font-weight: 400;
        margin: 32px;
    }

    &__control {
        margin-bottom: -32px;
    }

    img {
        width: 48px;
    }
}

.main {
    width: 100%;
    position: relative;
    max-width: 600px;
    margin: 0 auto 32px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);

    &:before {
        content: '';
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        height: 50px;
        overflow: hidden;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 8px 0 -3px #f6f6f6, 0 9px 1px -3px rgba(0, 0, 0, 0.2), 0 16px 0 -6px #f6f6f6,
            0 17px 2px -6px rgba(0, 0, 0, 0.2);
    }
}

.footer {
    margin: auto auto 0;
    color: #bfbfbf;
    font-size: 10px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    text-align: center;
}
</style>
